<!DOCTYPE html>
<html lang="en">
    <head>
        {% block head %}
            <title>NamTech</title>
            <meta charset="utf-8">
            <meta name="description" content={{page_description}}>
            <meta http-equiv="cache-control" content="no-store" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1, user-scalable=0">
            {% assets "vendor_css" %}
              <link rel="stylesheet" href="{{ ASSET_URL }}">
            {% endassets %}
            {% assets "main_css" %}
              <link rel="stylesheet" href="{{ ASSET_URL }}">
            {% endassets %}
            {% assets "vendor_js" %}
              <script type="text/javascript" src="{{ ASSET_URL }}"></script>
            {% endassets %}
        {% endblock %}
    </head>
    <body class="bg-light bg-gradient">
        <header>
            {% include 'navigation.html' %}
        </header>
        {% block content %}
        {% endblock %}
    </body>   
</html>